.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: brown;
  height: 500px;
  width: 100%;
}

.item {
  width: 100px;
  height: 100px;
  background-color: aqua;
}

/* maintain aspect ratio video and prevent layout shift */
.video {
  width: 100%;
  height: auto;
}
